# 미래연구소 1기
## Python Basic

-------------------------------------------------------------------------------------------------------

# 1. Bash 설치 방법

http://sanghaklee.tistory.com/39

# 2. Bash 실행 방법

cmd(명령 프롬프트)에 bash라고 치기

# 3. Python 설치확인 및 버젼확인

$ apt install python3-pip

$ pip3 install --upgrade pip

$ pip3 --version

# 4. Jupyter notebook 설치 및 실행

$ pip3 install jupyter

$ jupyter notebook

-------------------------------------------------------------------------------------------------------

# Hello python!

So, let's try!!

In [1]:
print("hello world!")

hello world!

# Numbers & Math

In [2]:
print(3 + 7)
print(10 - 3)
print(15 / 7)
print(34 * 100)

10
7
2.142857142857143
3400

In [6]:
print(15 / 7)
print(15 / 5)
type(15 / 5)

print(15 // 5)
type(15 // 5)

print(34 * 100)
print(3 * 2.5)
type(3 * 2.5)

2.142857142857143
3.0
3
3400
7.5

float

# Boolean

In [9]:
print(3 < 7)
print(10 < 3)
print(15 > 7)
print(34 == 100)

## !=
## >=
## <=

True
False
True
False

# Variable

In [11]:
print("hello python!")
hello = "hello"
python = "python!"
print(hello, python)

hello python!
hello python!

In [13]:
num1 = 14
num2 = 5

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

19
9
70
2.8

# input

In [2]:
name =input("What is your name? ")
print("Hi, ", name)

What is your name? Byeong Guan
Hi,  Byeong Guan

# ● List, Tuple

List

In [6]:
animals = ['','','']

Tuple

In [7]:
animals = ('','','')

# ● List

## 빈 list를 선언합니다. 선언과 동시에 값을 채워넣을 수 있습니다.

In [8]:
lang = ['python', 'c', 'java', 'golang']

In [9]:
lang = []

## list에 요소를 추가합니다.

In [11]:
lang.append("python")
lang.append("java")
lang.append("golang")
print(lang)

['python', 'java', 'golang']

## 혹은 특정한 위치에 원하는 값을 추가할 수 있습니다.

In [12]:
lang.insert(1, "c")
print(lang)

['python', 'c', 'java', 'golang']

## 특정 요소를 삭제할 수도 있습니다.

In [13]:
lang.remove("golang")
print(lang)

['python', 'c', 'java']

## 혹은 리스트에 있던 값을 빼낼 수도 있습니다.

In [15]:
java = lang.pop(2)
print(lang)
print(java)

['python', 'c']
java

## 리스트를 정렬하는 법을 알아봅니다.

In [31]:
numbers = [2, 1, 4, 3]
print(numbers)
numbers.sort()
print(numbers)

[2, 1, 4, 3]
[1, 2, 3, 4]

## 리스트를 역순으로 출력하고 싶을땐 이렇게 한답니다.

In [17]:
numbers = [2, 1, 4, 3]
numbers.reverse()
print(numbers)

[3, 4, 1, 2]

## 특정 값의 위치를 출력할땐 이렇게 합니다.

In [20]:
index_of_two = numbers[2]
print(index_of_two)

1

## 리스트끼리 더할 땐 extend를 활용합니다.

In [21]:
numbers += [5, 6]
print(numbers)

[3, 4, 1, 2, 5, 6]

In [22]:
numbers.extend([7, 8])
print(numbers)

[3, 4, 1, 2, 5, 6, 7, 8]

# ● Tuple

## Tuple은 괄호를 이용해 선언할 수 있습니다.

In [23]:
tuple1 = (1, 2, 3, 4)

## tuple은 삭제나 추가가 불가능합니다.

In [24]:
del tuple1[1]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
tuple[1] = 'c'

TypeError: 'type' object does not support item assignment

## tuple끼리 더하거나 반복하는 것은 가능합니다.

In [26]:
tuple2 = (5, 6)
print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

In [28]:
print(tuple1 * 3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## tuple은 값을 편하게 바꿀 수 있습니다.

In [34]:
x = 1
y = 2

In [35]:
(x, y) = (y, x)

In [36]:
print(x, y)

2 1

# Codeacademy(optional)

## ● https://www.codecademy.com 가입 후

## ● Learn Python 코스 선택

## ● 1. Python Syntax , 2. Strings and Console Output 해보기

### *참조 : https://github.com/ulgoon